@using FreightSystem.Models;
@{
    ViewBag.Title = "ClientList";
}
@model List<ClientModel>
@{
    ViewBag.Title = "客户列表";
}
<br />
<fieldset class="large-6">
    <legend>@ViewBag.Title</legend>
    <br />
    <div class="row">
        <div class="large-12 columns">
            <table class="table-cell-spacing large-12">
                <tr>
                    <th>
                        客户名称
                    </th>
                    <th>
                        客户简写
                    </th>
                    <th>
                        编号月份
                    </th>
                    <th>
                        当前编号
                    </th>
                    <th>
                        创建时间
                    </th>
                    <th>
                        编辑
                    </th>
                </tr>
                @foreach (ClientModel client in Model)
                {
                    <tr>
                        <td>@client.ClientName
                        </td>
                        <td>@client.ShortName
                        </td>
                        <td>@(client.IndexMonth + 1)
                        </td>
                        <td>@client.IndexMonth
                        </td>
                        <td>@client.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")
                        </td>
                        <td>
                            <a href="/Business/ClientMgr/@client.ID">编辑</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm())
        {
            <div class="large-3 large-offset-0-1 columns">
                <label>
                    客户名称</label>
                <input type="text" name="clientname" />
            </div>
            <div class="large-2 large-offset-0-1 columns">
                <label>
                    客户简写</label>
                <input type="text" name="shortname" />
            </div> 
            <div class="large-5 large-offset-0-1 columns">
                <label style="visibility: hidden">
                    button
                </label>
                <input type="submit" class="button tiny" value="创建" />
            </div>
        }
    </div>
    <br />
    <label style="color: Red;">@ViewBag.ErrorMessage</label>
</fieldset>
