@model FreightSystem.Models.ClientModel
@{
    ViewBag.Title = "编辑客户信息";
}
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ID)
    <fieldset class="large-6">
        <legend>@ViewBag.Title</legend>
        <br />
        <div class="row">
            <div class="large-3 large-offset-0-1 columns">
                <label>
                    客户名称</label>@Html.TextBoxFor(m => m.ClientName)
            </div>
            <div class="large-2 large-offset-0-1 columns">
                <label>
                    客户简写</label>
                @Html.TextBoxFor(m => m.ShortName)
            </div>
            <div class="large-5 large-offset-0-1 columns">
                <label style="visibility: hidden">
                    button
                </label>
                <input type="submit" class="button tiny" value="保存" />
            </div>
        </div>
        <br />
        <label style="color: Red;">@ViewBag.ErrorMessage</label>
    </fieldset>
}