@using FreightSystem.Models;
@model FreightSystem.Models.TransportRecordModel
@{
    ViewBag.Title = "FillTransportRecord";
}
<br />
<div class="row">
    <div class="large-6 columns">
        @Html.Partial("_TransportRecordPartial", Model)
    </div>
    <div class="large-6 columns">
        @using (Html.BeginForm("FillTransportRecord", "Business", new { id = Model.ID }))
        {
            if (string.IsNullOrEmpty(Model.TrayNo))
            {
            <input type="hidden" name="updateindex" value="1" />
            }
            else
            {
            <input type="hidden" name="updateindex" value="0" />
            }
            <fieldset>
                <legend>货物信息</legend>
                <div class="row">
                    <br />
                    <div class="large-3 large-offset-0-1 columns">
                        <label>
                            托编号</label>
                        @Html.TextBoxFor(x => x.TrayNo, new { @type = "text", @style = "margin-bottom:0px", @placeholder = "必填" })
                        <small class="error">@Html.ValidationMessageFor(x => x.TrayNo)</small>
                    </div>
                    <div class="large-2 large-offset-0-1 columns">
                        <label>
                            体积</label>
                        @Html.TextBoxFor(x => x.Volume, new { @type = "text", @style = "margin-bottom:0px", @placeholder = "必填" })
                        <small class="error">@Html.ValidationMessageFor(x => x.Volume)</small>
                    </div>
                    <div class="large-2 large-offset-0-1 columns">
                        <label>
                            数量</label>
                        @Html.TextBoxFor(x => x.Quantity, new { @type = "text", @style = "margin-bottom:0px", @placeholder = "必填" })
                        <small class="error">@Html.ValidationMessageFor(x => x.Quantity)</small>
                    </div>
                    <div class="large-3  large-offset-0-1 columns">
                        <button type="submit" class="left button tiny" style="margin-top: 1.4rem">
                            保存</button>
                    </div>
                </div>
            </fieldset>
            if (string.IsNullOrEmpty(Model.TrayNo))
            {
            <script language="javascript" type="text/javascript">
                $("#TrayNo").val("@ViewBag.DefaultTrayNo");
            </script>
            }
        }
    </div>
    <div class="large-6 columns">
        @Html.Partial("_TransportRecordDetailsPartial", Model)
        <br />
        <fieldset>
            <legend>新增货物明细</legend>
            @using (Html.BeginForm())
            {
                <div class="row">
                    <br />
                    <div class="large-5 large-offset-0-1 columns">
                        <label>
                            单据编号</label>
                        <input type="text" name="detailNo" />
                    </div>
                    <div class="large-5 large-offset-0-1 columns">
                        <label>
                            货物名称</label>
                        <input type="text" name="packagename" />
                    </div>
                    <div class="large-5 large-offset-0-1 columns">
                        <label>
                            数量</label>
                        <input type="text" name="quantity" />
                    </div>
                    <div class="large-5 large-offset-0-1 columns">
                        <label>
                            体积</label>
                        <input type="text" name="volume" />
                    </div>
                    <div class="large-11 columns">
                        <button type="submit" class="left button tiny" style="margin-top: 1rem">
                            新增</button>
                    </div>
                </div>
            }
            <label style="color: Red;">@ViewBag.ErrorMessage</label>
        </fieldset>
    </div>
</div>
