@model FreightSystem.Models.TransportRecordModel
<br />
<div class="row">
    <div class="large-6 columns">
        @Html.Partial("_TransportRecordPartial", Model)
    </div>
    <div class="large-6 columns">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>调度</legend>
                @if (!Model.DeliverPrice.HasValue)
                {
                    <div class="row">
                        <br />
                        <div class="large-3 large-offset-0-1 columns">
                            <label>
                                运费</label>
                            @Html.TextBoxFor(x => x.DeliverPrice, new { @type = "text", @style = "margin-bottom:0px", @placeholder = "必填" })
                            <small class="error">@Html.ValidationMessageFor(x => x.DeliverPrice)</small>
                        </div>
                        <div class="large-3 large-offset-0-1 columns">
                            <label>
                                短驳费</label>
                            @Html.TextBoxFor(x => x.ShortBargeFee, new { @type = "text", @style = "margin-bottom:0px", @placeholder = "必填" })
                            <small class="error">@Html.ValidationMessageFor(x => x.ShortBargeFee)</small>
                        </div>
                        <div class="large-11 columns">
                            <button type="submit" class="left button tiny" style="margin-top: 1rem">
                                保存</button>
                        </div>
                    </div>        
                }
                else
                {
                    <div class="row">
                        <br />
                        <div class="large-12 large-offset-3  columns">
                            <label style="color: Red;">
                                价格信息已经填充，无法修改</label></div>
                    </div>
                }
                <br />
                <label style="color: Red;">@ViewBag.ErrorMessage</label>
            </fieldset>
        }
    </div>
</div>
