@using FreightSystem.Models;
@model FreightSystem.Models.TransportRecordModel
@{
    ViewBag.Title = "FillTransportRecord";
}
@Html.Partial("_TransportRecordPartial", Model)
<br />
@using (Html.BeginForm())
{
    <fieldset class="large-5">
        <legend>补充货物信息</legend>      
        <table style="border: 0px">
            <tr>
                <th>
                    托编号
                </th>
                <td>
                    @Html.TextBoxFor(x => x.TrayNo, new { @style = "margin-bottom:-0.5rem" })
                    @Html.ValidationMessageFor(x => x.TrayNo)
                </td>
            </tr>
            <tr>
                <th>
                    体积
                </th>
                <td>
                    @Html.TextBoxFor(x => x.Volume, new { @style = "margin-bottom:-0.5rem" })
                    @Html.ValidationMessageFor(x => x.Volume)
                </td>
            </tr>
            <tr>
                <th>
                    数量
                </th>
                <td>
                    @Html.TextBoxFor(x => x.Quantity)
                    @Html.ValidationMessageFor(x => x.Quantity)
                </td>
            </tr>
            <tr>
                <th>
                    <input type="submit" class="button tiny" value="保存" />
                </th>
            </tr>
        </table>
    </fieldset>
    if(string.IsNullOrEmpty(Model.TrayNo)){
    <script language="javascript">
        $("#TrayNo").val("@ViewBag.DefaultTrayNo");
    </script>
    }
    
}