@using FreightSystem.Models;
@model FreightSystem.Models.TransportRecordModel
@{
    ViewBag.Title = "FillTransportRecord";
}
<br />
<script language="javascript" type="text/javascript" src="/Scripts/My97DatePicker/WdatePicker.js"></script>
@using (Html.BeginForm())
{
    <fieldset class="large-5">
        <legend>补充货物信息</legend>
        <table style="border: 0px">
            <tr>
                <th class="large-3">
                    日期
                </th>
                <td class="large-3">
                    @Model.DeliverDate.ToString("yyyy-MM-dd")
                    @Html.HiddenFor(m => m.DeliverDate)
                </td>
                <th class="large-3">
                    客户
                </th>
                <td class="large-3">
                    @Model.ClientName
                    @Html.HiddenFor(m => m.ClientName)
                </td>
            </tr>
            <tr>
                <th>
                    驾驶员
                </th>
                <td>
                    @Model.Driver
                    @Html.HiddenFor(m => m.Driver)
                </td>
                <th>
                    车牌号
                </th>
                <td>
                    @Model.CarLicense
                    @Html.HiddenFor(m => m.CarLicense)
                </td>
            </tr>
            <tr>
                <th>
                    物品名称
                </th>
                <td colspan="3">
                    @Model.PackageName
                    @Html.HiddenFor(m => m.PackageName)
                </td>
            </tr>
            <tr>
                <th>
                    起运地
                </th>
                <td>
                    @Model.FromLocation
                    @Html.HiddenFor(m => m.FromLocation)
                </td>
                <th>
                    卸货地 / 单位
                </th>
                <td>
                    @Model.ToLocation
                    @Html.HiddenFor(m => m.ToLocation)
                </td>
            </tr>
            <tr>
                <th>
                    运费
                </th>
                <td>
                    @Model.DeliverPrice
                    @Html.HiddenFor(m => m.DeliverPrice)
                </td>
                <th>
                    预付
                </th>
                <td>
                    @Model.PrePay
                    @Html.HiddenFor(m => m.PrePay)
                </td>
            </tr>
            <tr>
                <th>
                    油卡
                </th>
                <td>
                    @Model.OilCard
                    @Html.HiddenFor(m => m.OilCard)
                </td>
                <th>
                    专线
                </th>
                <td>
                    @Model.DeliverType
                    @Html.HiddenFor(m => m.DeliverType)
                </td>
            </tr>
            <tr>
                <th>
                    备注
                </th>
                <td colspan="3">
                    @Model.Comment
                    @Html.HiddenFor(m => m.Comment)
                </td>
            </tr>
            <tr>
                <th>
                    所在业务区域
                </th>
                <td>
                    @Html.LabelFor(x => x.BusinessArea, ((UserModel)ViewBag.LoggedUser).Area.AreaName)
                    @Html.Hidden("businessarea", ((UserModel)ViewBag.LoggedUser).Area.AreaName)
                </td>
                <th>
                    托编号
                </th>
                <td>
                    @Model.TrayNo
                </td>
            </tr>
            <tr>
                <th>
                    体积
                </th>
                <td>
                    @Model.Volume
                </td>
                <th>
                    数量
                </th>
                <td>
                    @Model.Quantity
                </td>
            </tr>
            @if (!Model.PayDate.HasValue)
            {
                <tr>
                    <th>
                        付款日期
                    </th>
                    <td>
                        @Html.TextBoxFor(x => x.PayDate, new { @onClick = "WdatePicker()", @style = "margin-bottom:-0.5rem" })
                        @Html.ValidationMessageFor(x => x.PayDate)
                    </td>
                    <th>
                        应付金额
                    </th>
                    <td>
                        @Html.TextBoxFor(x => x.AccountPayble, new { @style = "margin-bottom:-0.5rem" })
                        @Html.ValidationMessageFor(x => x.AccountPayble)
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="submit" class="button tiny" value="保存" />
                    </th>
                </tr>
            }
            else
            {
                <tr>
                    <th>
                        付款日期
                    </th>
                    <td>
                        @Model.PayDate.Value.ToString("yyyy-MM-dd")
                    </td>
                    <th>
                        应付金额
                    </th>
                    <td>
                        @Model.AccountPayble
                    </td>
                </tr>
            }
        </table>
    </fieldset>
}