@using FreightSystem.Models;
@model FreightSystem.Models.TransportRecordModel
@{
    ViewBag.Title = "FillTransportRecord";
}
<script language="javascript" type="text/javascript" src="/Scripts/My97DatePicker/WdatePicker.js"></script>
<br />
<div class="row">
    <div class="large-6 columns">
        @Html.Partial("_TransportRecordPartial", Model)
    </div>
    <div class="large-6 columns">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.Error)
            @Html.HiddenFor(m => m.Received)
                    @Html.HiddenFor(m => m.OilCard);
                    @Html.HiddenFor(m => m.DeliverPrice);
                    @Html.HiddenFor(m => m.PrePay);
            <fieldset>
                <legend>补充财务信息</legend>
                @if (!Model.Paid)
                {
                    <div class="row">
                        <br />
                        <div class="large-5 large-offset-0-1 columns">
                            <label>
                                扣款</label>
                            @Html.TextBoxFor(x => x.Deductions, new { @style = "margin-bottom:0px", @onchange = "UpdateShouldPay();" })
                            <small class="error">@Html.ValidationMessageFor(x => x.Deductions)</small>
                        </div>
                        <div class="large-5 large-offset-0-1 columns">
                            <label>
                                赔款</label>
                            @Html.TextBoxFor(x => x.Reparations, new { @style = "margin-bottom:0px", @onchange = "UpdateShouldPay();" })
                            <small class="error">@Html.ValidationMessageFor(x => x.Reparations)</small>
                        </div>
                        <div class="large-5 large-offset-0-1 columns">
                            <label>
                                装卸费</label>
                            @Html.TextBoxFor(x => x.HandlingFee, new { @style = "margin-bottom:0px", @onchange = "UpdateShouldPay();" })
                            <small class="error">@Html.ValidationMessageFor(x => x.HandlingFee)</small>
                        </div>
                        <div class="large-5 large-offset-0-1 columns">
                            <label>
                                应付金额</label>
                            @Html.TextBoxFor(x => x.AccountPayble, new { @style = "margin-bottom:0px" })
                            <small class="error">@Html.ValidationMessageFor(x => x.AccountPayble)</small>
                        </div>
                        <div class="large-5 large-offset-0-1 columns">
                            <label>
                                付款日期</label>
                            @Html.TextBoxFor(x => x.PayDate, new { @onClick = "WdatePicker()", @style = "margin-bottom:0px" })
                            <small class="error">@Html.ValidationMessageFor(x => x.PayDate)</small>
                        </div>
                        <div class="large-5 large-offset-0-1 columns">
                            <label>
                                是否结算</label>
                            @Html.CheckBoxFor(m => m.Paid)
                        </div>
                        <div class="large-3 columns">
                            <button type="submit" class="left button tiny">
                                保存</button>
                        </div>
                    </div>
                    <script language="javascript" type="text/javascript">
                        $(document).ready(function () {
                            UpdateShouldPay();
                        });
                        var UpdateShouldPay = function () {
                            var deliverPrice = Number($("#DeliverPrice").val());
                            var shortbargefee = Number($("#ShortBargeFee").val());
                            var oilCard = Number($("#OilCard").val());
                            var deduction = Number($("#Deductions").val());
                            var reparation = Number($("#Reparations").val());
                            var prepay = Number($("#PrePay").val());
                            var handlingfee = Number($("#HandlingFee").val());
                            var shouldPay = deliverPrice - prepay - oilCard - deduction - reparation - handlingfee;
                            $("#AccountPayble").val(shouldPay);
                        }
                    </script>
                }
                else
                {
                    @Html.HiddenFor(x => x.Deductions)
                    @Html.HiddenFor(x => x.HandlingFee)
                    @Html.HiddenFor(x => x.AccountPayble)
                    @Html.HiddenFor(x => x.PayDate)
                    @Html.HiddenFor(m => m.Paid)
                    <table class="large-12" style="border: 0px">
                        <tr>
                            <th class="large-3" style="width:50px;">
                                扣款
                            </th>
                            <td class="large-3">
                                @Model.Deductions
                            </td>
                            <th class="large-3">
                                赔款
                            </th>
                            <td class="large-3">
                                @Html.TextBoxFor(x => x.Reparations, new { @style = "margin-bottom:0px", @onchange = "UpdateShouldPay();" })
                                <input type="submit" value="修改" onclick="return confirm('确认修改赔款金额？');" />
								<small class="error">@Html.ValidationMessageFor(x => x.Reparations)</small>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                应付
                            </th>
                            <td>
                                @Model.ShouldPayPrice
                            </td>
                            <th>
                                付款日期
                            </th>
                            <td>
                                @if (Model.PayDate.HasValue)
                                {
                                    <div>@Model.PayDate.Value.ToString("yyyy-MM-dd")</div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>
                                结算状态
                            </th>
                            <td>
                                已结算
                            </td>
                        </tr>
                    </table>
                }
                <label style="color: Red;">@ViewBag.ErrorMessage</label>
            </fieldset>
        }
    </div>
</div>
