@model FreightSystem.Models.TransportRecordListModel
@using FreightSystem.Models;
@{
    ViewBag.Title = "发货动态列表";
}
<div>
    @Html.ActionLink("新建发货记录", "NewTransportRecord", "Business")
</div>
<table cellpadding="3" cellspacing="1" border="1">
    <thead>
        <tr>
            <th>日期</th>
            <th>车牌号</th>
            <th>司机</th>
            <th>出发地</th>
            <th>目的地</th>
        </tr>
    </thead>
    <tbody>
    @foreach (TransportRecordModel record in Model.ItemList)
    {
        <tr>
            <td>@record.DeliverDate</td>
            <td>@record.CarLicense</td>
            <td>@record.Driver</td>
            <td>@record.FromLocation</td>
            <td>@record.ToLocation</td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
            @if(Model.PageIndex > 1){
                
                <a href="?">首页</a>
                <a href="?page=@(Model.PageIndex - 1)">上一页</a>
                    
            }
            else
            {
                <span>首页</span>
                <span>上一页</span>
                    
            }
            当前第 [ @Model.PageIndex ] 页，共 [ @Model.TotalPage ] 页
            @if (Model.PageIndex < Model.TotalPage)
            {

                <a href="?page=@(Model.PageIndex + 1)">下一页</a>
                <a href="?page=@Model.TotalPage">尾页</a>
                    
            }
            else
            {
                
                <span>下一页</span>
                <span>尾页</span>
                    
            }
            </td>
        </tr>
    </tfoot>
</table>
