@model FreightSystem.Models.TransportRecordListModel
@using FreightSystem.Models;
@using FreightSystem.Models.Extra;
@{
    ViewBag.Title = "发货动态列表";
    UserModel loggedUser = (UserModel)ViewBag.LoggedUser;
}
<script language="javascript" type="text/javascript" src="/Scripts/My97DatePicker/WdatePicker.js"></script>
@using (Html.BeginForm("Index", "Business", FormMethod.Get))
{ 
    <div class="panel">
        <div class="row">
            <div class="small-0 columns">
                <label for="right-label" class="right inline">
                    日期</label>
            </div>
            <div class="small-1-5 columns">
                @Html.TextBoxFor(x => x.DeliverDate, new { @onClick = "WdatePicker()", @type = "text" })
            </div>
            <div class="small-0 columns">
                <label for="right-label" class="right inline">
                    客户</label>
            </div>
            <div class="small-1-5 columns">
                @Html.DropDownListFor(m => m.ClientName, (List<SelectListItem>)ViewBag.Clients)
            </div>
            <div class="small-1 columns">
                @Html.DropDownListFor(m => m.Received,
                    new List<SelectListItem> { 
                        new SelectListItem(){ Text = "所有", Value="ALL"}
                        , new SelectListItem(){Text = "未到货", Value = "N"}
                        , new SelectListItem(){Text = "到货", Value = "Y"}  
                    }, new { @class = "tiny radius dropdown" })
            </div>
            <div class="small-1 columns">
                @Html.DropDownListFor(m => m.Paid,
                    new List<SelectListItem> { 
                        new SelectListItem(){ Text = "所有", Value="ALL"}
                        , new SelectListItem(){Text = "未结算", Value = "N"}
                        , new SelectListItem(){Text = "已结算", Value = "Y"}  
                    }, new { @class = "tiny radius dropdown" })
            </div>
            <div class="small-1 columns">
                @Html.DropDownListFor(m => m.Error,
                    new List<SelectListItem> { 
                        new SelectListItem(){ Text = "所有", Value="ALL"}
                        , new SelectListItem(){Text = "正常", Value = "N"}
                        , new SelectListItem(){Text = "异常", Value = "Y"}  
                    }, new { @class = "tiny radius dropdown" })
            </div>
            <div class="small-1 columns">
                <button type="submit" class="button tiny">
                    查询</button>
            </div>
            <div class="small-2 columns">
                <button type="submit" class="button tiny" id="btnExport">
                    导出日报表</button>
            </div>
            <div class="small-2 columns">
                @if (loggedUser.Role.AccessList.Contains("NEWRD") || loggedUser.Role.AccessList.Contains("ALL"))
                {
                    @Html.ActionLink("新建发货记录", "NewTransportRecord", "Business", new { @class = "button tiny right" })
                }
            </div>
        </div>
    </div>
}
<script language="javascript" type="text/javascript">
    $("#btnExport").click(
        function () {
            var deliverDate = $("#DeliverDate").val();
            if (deliverDate == "") {
                alert("必须选中日期后才能导出报表");
                return;
            }
            var clientName = $("#ClientName").val();
            if (clientName == "")
                clientName = "NA"
            window.open("/Business/Export/ExcelReport/" + deliverDate + "_" + clientName + ".xls");
        }
    );
</script>
@Html.Partial("_TransportRecordListPartial", Model)
