@using FreightSystem.Models;
@model FreightSystem.Models.TransportRecordModel
@{
    ViewBag.Title = "新建发货动态记录";
}
<script language="javascript" type="text/javascript">
    $(document).ready(
        function () {
            var date = new Date();
            var dateString = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
            $("#DeliverDate").val(dateString);
        }
    );
</script>
<h4>@ViewBag.Title</h4>
<section id="newTransportForm">
<h4>@ViewBag.ErrorMessage</h4>
<br />
@using (Html.BeginForm())
{
<fieldset>
    <table style="width:50%;">
        <tr>
            <th class="table-left-align">日期</th>
            <td style="width:20%;">@Html.TextBoxFor(m => m.DeliverDate, new { @type = "text", @style = "width:60%" }) *
                @Html.ValidationMessageFor(m => m.DeliverDate)</td>
            <th class="table-left-align">客户</th>
            <td style="width:20%;">@Html.TextBoxFor(m => m.ClientName, new { @type = "text", @style = "width:60%" }) *
                @Html.ValidationMessageFor(m => m.ClientName)</td>
        </tr>
        <tr>
            <th class="table-left-align">托编号</th>
            <td>@Html.TextBoxFor(m => m.TrayNo, new { @type = "text", @style = "width:60%" }) *
                @Html.ValidationMessageFor(m => m.TrayNo)</td>
            <th class="table-left-align">驾驶员</th>
            <td>@Html.TextBoxFor(m => m.Driver, new { @type = "text", @style = "width:60%" }) *
                @Html.ValidationMessageFor(m => m.Driver)</td>
        </tr>
        <tr>
            <th class="table-left-align">车牌号</th>
            <td>@Html.TextBoxFor(m => m.CarLicense, new { @type = "text", @style = "width:60%" }) *
                @Html.ValidationMessageFor(m => m.CarLicense)</td>
            <th class="table-left-align">物品名称</th>
            <td>@Html.TextBoxFor(m => m.PackageName, new { @type = "text", @style = "width:60%" }) *
                @Html.ValidationMessageFor(m => m.PackageName)</td>
        </tr>
        <tr>
            <th class="table-left-align">起运地</th>
            <td>@Html.TextBoxFor(m => m.FromLocation, new { @type = "text", @style = "width:60%" }) *
                @Html.ValidationMessageFor(m => m.FromLocation)</td>
            <th class="table-left-align">卸货地 / 单位</th>
            <td>@Html.TextBoxFor(m => m.ToLocation, new { @type = "text", @style = "width:60%" }) *
                @Html.ValidationMessageFor(m => m.ToLocation)</td>
        </tr>
        <tr>
            <th class="table-left-align">运费</th>
            <td>@Html.TextBoxFor(m => m.DeliverPrice, new { @type = "text", @style = "width:60%" })
                @Html.ValidationMessageFor(m => m.DeliverPrice)</td>
            <th class="table-left-align">预付</th>
            <td>@Html.TextBoxFor(m => m.PrePay, new { @type = "text", @style = "width:60%" })
                @Html.ValidationMessageFor(m => m.PrePay)</td>
        </tr>
        <tr>
            <th class="table-left-align">油卡</th>
            <td>@Html.TextBoxFor(m => m.OilCard, new { @type = "text", @style = "width:60%" })
                @Html.ValidationMessageFor(m => m.OilCard)</td>
            <th class="table-left-align">专线</th>
            <td>@Html.TextBoxFor(m => m.DeliverType, new { @type = "text", @style = "width:60%" })
                @Html.ValidationMessageFor(m => m.DeliverType)</td>    
        </tr>
        <tr>
            <th  class="table-left-align" style="vertical-align:top;">备注</th>
            <td colspan="3">@Html.TextAreaFor(m => m.Comment, new { @style = "width:84%; height:80px;" })
                @Html.ValidationMessageFor(m => m.Comment)</td>
        </tr>
        <tr>
            <th class="table-left-align" style="vertical-align:top;">所在业务区域</th>
            <td colspan="2">
                @Html.LabelFor(m => m.BusinessArea, ((UserModel)ViewBag.LoggedUser).Area.AreaName)
                @Html.Hidden("businessarea", ((UserModel)ViewBag.LoggedUser).Area.AreaName)
            </td>
            <td align="center">
                <button type="submit" class="btn">保存</button>
            </td>
        </tr>
        @*
        <tr>
            <th>体积（立方米）</th>
            <td>@Html.TextBoxFor(m => m.Volume) *
                @Html.ValidationMessageFor(m => m.Volume)</td>
            <th>件数（件）</th>
            <td>@Html.TextBoxFor(m => m.Quantity) *
                @Html.ValidationMessageFor(m => m.Quantity)</td>
        </tr>
        <tr>
            <th>装卸费</th>
            <td>@Html.TextBoxFor(m => m.HandlingFee)
                @Html.ValidationMessageFor(m => m.HandlingFee)</td>
            <th>赔款</th>
            <td>@Html.TextBoxFor(m => m.Reparations)
                @Html.ValidationMessageFor(m => m.Reparations)</td>
        </tr>
        <tr>
            <th>扣款</th>
            <td>@Html.TextBoxFor(m => m.Deductions)
                @Html.ValidationMessageFor(m => m.Deductions)</td>
            <th>短驳费</th>
            <td>@Html.TextBoxFor(m => m.ShortBargeFee)
                @Html.ValidationMessageFor(m => m.ShortBargeFee)</td>
        </tr>
        <tr>
            <th>付款日</th>
            <td>@Html.TextBoxFor(m => m.PayDate)
                @Html.ValidationMessageFor(m => m.PayDate)</td>
            <th>应付</th>
            <td>@Html.TextBoxFor(m => m.AccountPayble)
                @Html.ValidationMessageFor(m => m.AccountPayble)</td>     
        </tr>
        *@
    </table>
</fieldset>
}
</section>
