@model FreightSystem.Models.TransportRecordModel
@{ Layout = null; }
<div style="position:absolute; top:80px; left:80px;">@Model.TrayNo</div>
<div style="position:absolute; top:80px; left:540px;">@Model.DeliverDate.Year</div>
<div style="position:absolute; top:80px; left:600px;">@(Model.DeliverDate.Month + 1)</div>
<div style="position:absolute; top:80px; left:640px;">@Model.DeliverDate.Day</div>

<div style="position:absolute; top:140px; left:80px;">@Model.ClientName</div>
<div style="position:absolute; top:210px; left:80px;">@Model.PackageName</div>
<div style="position:absolute; top:210px; left:380px;">@Model.Quantity</div>
<div style="position:absolute; top:210px; left:520px;">@Model.FromLocation</div>
<div style="position:absolute; top:210px; left:660px;">@Model.ToLocation</div>

<div style="position:absolute; top:430px; left:80px;">@Model.Driver</div>
<div style="position:absolute; top:430px; left:200px;">@Model.CarLicense</div>

<div style="position:absolute; top:400px; left:680px; width:200px; height:200px; overflow:hidden;">@Model.Comment 123</div>