<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 物流单据管理系统</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/foundation.css" rel="stylesheet" />
    <link href="/Content/normalize.css" rel="stylesheet" />
    <script src="/Scripts/modernizr-2.5.3.js"></script>
    <script src="/Scripts/jquery-1.7.1.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/Scripts/prettify.js"></script>
</head>
<body>
    <!-- Header and Nav -->
    <div class="row">
        <div class="large-12 columns">
            @Html.Partial("_MenuPartial")
        </div>
    </div>
    <!-- End header and Nav -->
    <div class="row">
        <div class="large-12 columns">
            @RenderSection("featured", required: false)
            <section>@RenderBody()</section>
        </div>
    </div>
    <!-- Footer -->
    <footer class="row">
        <div class="large-12 columns">  
            <hr />
            <p class="label">&copy; @DateTime.Now.Year XXXX工作室</p>
        </div>
    </footer>
</body>
</html>
