@using FreightSystem.Models
@if (ViewBag.LoggedUser != null)
{
    UserModel loggedUser = ViewBag.LoggedUser;
    <ul id="menu" class="nav nav-tabs">
        @foreach (MenuItemModel menu in loggedUser.Role.Menus)
        {
            if (menu.IsCurrent)
            {
            <li class="active"><a href="@menu.Link" name="@menu.MenuCode">@menu.MenuText</a></li>
            }
            else
            {
            <li class="disabled"><a href="@menu.Link" name="@menu.MenuCode">@menu.MenuText</a></li>
            }
        }
    </ul>
}
