@using FreightSystem.Models;
@model FreightSystem.Models.TransportRecordModel
@{
    UserModel loggedUser = (UserModel)ViewBag.LoggedUser;
}
<fieldset>
    <legend>货物明细</legend>
    <table class="table-cell-spacing large-12">
        <thead>
            <tr>
                <th>
                    单据号
                </th>
                <th>
                    货品名称
                </th>
                <th>
                    数量
                </th>
                <th>
                    体积
                </th>
                <th>
                    单据数量
                </th>
                <th>
                    备注
                </th>
                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.DetailItem != null)
            {
                foreach (TransportRecordDetailModel detail in Model.DetailItem)
                {
                <tr>
                    <td>@detail.DetailNo
                    </td>
                    <td>@detail.PackageName
                    </td>
                    <td>@detail.Quantity
                    </td>
                    <td>@detail.Volume
                    </td>
                    <td>@detail.ReceiptCount
                    </td>
                    <td>@detail.Comment
                    </td>
                    <td>
                        @if (loggedUser.Role.AccessList.Contains("ALL") || loggedUser.Role.AccessList.Contains("NEWRD"))
                        {
                            <a class="left" href="/Business/UpdateDetails/@detail.ID">编辑</a><a class="right" href="/Business/DeleteDetails/@detail.ID" onclick="return confirm('确定要删除此明细？');">删除</a>                    
                        }
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</fieldset>
