@model FreightSystem.Models.TransportRecordListModel
@using FreightSystem.Models;
@using FreightSystem.Models.Extra;
@{
    UserModel loggedUser = (UserModel)ViewBag.LoggedUser;
}
<table class="large-12 table-hover table-cell-spacing">
    <thead>
        <tr>
            <th>
                日期
            </th>
            <th>
                客户
            </th>
            <th>
                托编号
            </th>
            <th>
                驾驶员
            </th>
            <th>
                车号
            </th>
            <th>
                货物名称
            </th>
            <th>
                体积
            </th>
            <th>
                数量
            </th>
            <th>
                起运地
            </th>
            <th>
                卸货地
            </th>
            <th>
                业务区域
            </th>
            <th>
                专线
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (TransportRecordModel record in Model.ItemList)
        {
            if ((record.ID % 2) == 0)
            {
            <tr type="RecordTR" trid="@record.ID" class="info">
                <td>
                    <div class="actionLink">@record.DeliverDate.ToString("MM.dd")</div>
                </td>
                <td>@record.ClientName
                </td>
                <td>@record.TrayNo
                </td>
                <td>@record.Driver
                </td>
                <td>@record.CarLicense
                </td>
                <td>@record.PackageName
                </td>
                <td>@record.Volume
                </td>
                <td>@record.Quantity
                </td>
                <td>@record.FromLocation
                </td>
                <td>@record.ToLocation
                </td>
                <td>@record.BusinessArea
                </td>
                <td>@record.DeliverType
                </td>
                <td>
                    @if (record.Received)
                    {
                        if (loggedUser.Role.AccessList.Contains("UPDTREV") || loggedUser.Role.AccessList.Contains("ALL"))
                        {
                        <a class="button tiny radius" href="/Business/UpdateReceived/@record.ID">已到货</a>
                        }
                        else
                        {
                        <div class="button tiny radius disabledB" style="cursor: inherit; background-color: #999;">
                            已到货</div>
                        }
                    }
                    else
                    {
                        if (loggedUser.Role.AccessList.Contains("UPDTREV") || loggedUser.Role.AccessList.Contains("ALL"))
                        {
                        <a class="button tiny alert radius" href="/Business/UpdateReceived/@record.ID">未到货</a>
                        }
                        else
                        {                            
                        <div class="button tiny alert radius disabledA" style="cursor: inherit; background-color: #999;">
                            未到货</div>
                        }
                    }
                    @if (record.Paid)
                    {
                        <div class="button tiny radius" style="cursor: inherit; background-color: #999;">
                            已结算</div>
                    }
                    else
                    {
                        if (loggedUser.Role.AccessList.Contains("UPDTPAID") || loggedUser.Role.AccessList.Contains("ALL"))
                        {
                        <a class="button tiny alert radius" href="/Business/FillCa/@record.ID" >未结算</a>
                        }
                        else
                        {                            
                        <div class="button tiny alert radius" style="cursor: inherit; background-color: #999;">
                            未结算</div>
                        }
                    }
                    @if (record.Error)
                    {
                        if (loggedUser.Role.AccessList.Contains("UPDTERR") || loggedUser.Role.AccessList.Contains("ALL"))
                        {
                        <a class="button tiny alert radius" href="/Business/UpdateErr/@record.ID?error=false" >
                            异常</a>
                        
                        }
                        else
                        {                            
                        <div class="button tiny alert radius" style="cursor: inherit; background-color: #999;">
                            异常</div>
                        }
                    }
                    else
                    {
                        if (loggedUser.Role.AccessList.Contains("UPDTERR") || loggedUser.Role.AccessList.Contains("ALL"))
                        {
                        <a class="button tiny radius" href="/Business/UpdateErr/@record.ID?error=true" >
                            正常</a>
                        
                        }
                        else
                        {                            
                        <div class="button tiny radius" style="cursor: inherit; background-color: #999;">
                            正常</div>
                        }
                    }
                    @if (loggedUser.Role.AccessList.Contains("PRINT") || loggedUser.Role.AccessList.Contains("ALL"))
                    {
                        <a class="button tiny radius success" href="/Business/PrintTR/@record.ID">打印</a>
                    }
                    @if (loggedUser.Role.AccessList.Contains("ALL") || loggedUser.Role.AccessList.Contains("FILLRD"))
                    { 
                        <a class="button tiny radius"  href="/Business/FillTransportRecord/@record.ID">内勤补充</a>
                    }
                    @if (loggedUser.Role.AccessList.Contains("ALL") || loggedUser.Role.AccessList.Contains("FILLPRICE"))
                    {
                        if (!record.DeliverPrice.HasValue)
                        {
                            <a class="button tiny radius"  href="/Business/FillPrice/@record.ID">调度补充</a>
                        }
                        else
                        {
                            <div class="button tiny radius" style="cursor: inherit; background-color: #999;">调度已填</div>
                        }
                    }
                    @if (loggedUser.Role.AccessList.Contains("ALL") || loggedUser.Role.AccessList.Contains("UPDTDETAIL"))
                    {
                        <a class="button tiny radius"  href="/Business/DetailsMgr/@record.ID">管理明细</a>
                    }
                    <a class="button tiny radius"  href="/Business/TransportDetails/@record.ID">查看</a>
                </td>
            </tr>
            }
            else
            {
            <tr type="RecordTR" trid="@record.ID" >
                <td>
                    <div class="actionLink">@record.DeliverDate.ToString("MM.dd")</div>
                </td>
                <td>@record.ClientName
                </td>
                <td>@record.TrayNo
                </td>
                <td>@record.Driver
                </td>
                <td>@record.CarLicense
                </td>
                <td>@record.PackageName
                </td>
                <td>@record.Volume
                </td>
                <td>@record.Quantity
                </td>
                <td>@record.FromLocation
                </td>
                <td>@record.ToLocation
                </td>
                <td>@record.BusinessArea
                </td>
                <td>@record.DeliverType
                </td>
                <td>
                    @if (record.Received)
                    {
                        if (loggedUser.Role.AccessList.Contains("UPDTREV") || loggedUser.Role.AccessList.Contains("ALL"))
                        {
                        <a class="button tiny radius" href="/Business/UpdateReceived/@record.ID">已到货</a>
                        }
                        else
                        {
                        <div class="button tiny radius disabledB" style="cursor: inherit; background-color: #999;">
                            已到货</div>
                        }
                    }
                    else
                    {
                        if (loggedUser.Role.AccessList.Contains("UPDTREV") || loggedUser.Role.AccessList.Contains("ALL"))
                        {
                        <a class="button tiny alert radius" href="/Business/UpdateReceived/@record.ID">未到货</a>
                        }
                        else
                        {                            
                        <div class="button tiny alert radius disabledA" style="cursor: inherit; background-color: #999;">
                            未到货</div>
                        }
                    }
                    @if (record.Paid)
                    {
                        <div class="button tiny radius" style="cursor: inherit; background-color: #999;">
                            已结算</div>
                    }
                    else
                    {
                        if (loggedUser.Role.AccessList.Contains("UPDTPAID") || loggedUser.Role.AccessList.Contains("ALL"))
                        {
                        <a class="button tiny alert radius" href="/Business/FillCa/@record.ID">未结算</a>
                        }
                        else
                        {                            
                        <div class="button tiny alert radius" style="cursor: inherit; background-color: #999;">
                            未结算</div>
                        }
                    }
                    @if (record.Error)
                    {
                        if (loggedUser.Role.AccessList.Contains("UPDTERR") || loggedUser.Role.AccessList.Contains("ALL"))
                        {
                        <a class="button tiny alert radius" href="/Business/UpdateErr/@record.ID?error=false" >
                            异常</a>
                        
                        }
                        else
                        {                            
                        <div class="button tiny alert radius" style="cursor: inherit; background-color: #999;">
                            异常</div>
                        }
                    }
                    else
                    {
                        if (loggedUser.Role.AccessList.Contains("UPDTERR") || loggedUser.Role.AccessList.Contains("ALL"))
                        {
                        <a class="button tiny radius" href="/Business/UpdateErr/@record.ID?error=true" >
                            正常</a>
                        
                        }
                        else
                        {                            
                        <div class="button tiny radius" style="cursor: inherit; background-color: #999;">
                            正常</div>
                        }
                    }
                    @if (loggedUser.Role.AccessList.Contains("PRINT") || loggedUser.Role.AccessList.Contains("ALL"))
                    {
                        <a class="button tiny radius success" href="/Business/PrintTR/@record.ID">打印</a>
                    }
                    @if (loggedUser.Role.AccessList.Contains("ALL") || loggedUser.Role.AccessList.Contains("FILLRD"))
                    { 
                        <a class="button tiny radius"  href="/Business/FillTransportRecord/@record.ID">内勤补充</a>
                    }
                    @if (loggedUser.Role.AccessList.Contains("ALL") || loggedUser.Role.AccessList.Contains("FILLPRICE"))
                    {
                        if (!record.DeliverPrice.HasValue)
                        {
                            <a class="button tiny radius"  href="/Business/FillPrice/@record.ID">调度补充</a>
                        }
                        else
                        {
                            <div class="button tiny radius" style="cursor: inherit; background-color: #999;">调度已填</div>
                        }

                    }
                    @if (loggedUser.Role.AccessList.Contains("ALL") || loggedUser.Role.AccessList.Contains("UPDTDETAIL"))
                    {
                        <a class="button tiny radius"  href="/Business/DetailsMgr/@record.ID">管理明细</a>
                    }
                    <a class="button tiny radius"  href="/Business/TransportDetails/@record.ID">查看</a>
                </td>
            </tr>
            }
            <tr style="display:none;" type="TRDetails" TRID="@record.ID">
                <td colspan="13">
                    <div class="row">
                        <div class="large-1 columns">
                            <label>
                                运费</label>
                            <input type="text" value="@record.DeliverPrice" readonly="readonly" />
                        </div>
                        <div class="large-1 columns">
                            <label>
                                短驳费</label>
                            <input type="text" value="@record.ShortBargeFee" readonly="readonly" />
                        </div>
                        <div class="large-1 columns">
                            <label>
                                装卸费</label>
                            <input type="text" value="@record.HandlingFee" readonly="readonly" />
                        </div>
                        <div class="large-1 columns">
                            <label>
                                赔款</label>
                            <input type="text" value="@record.Reparations" readonly="readonly" />
                        </div>
                        <div class="large-1 columns">
                            <label>
                                扣款</label>
                            <input type="text" value="@record.Deductions" readonly="readonly" />
                        </div>
                        <div class="large-1 columns">
                            <label>
                                预付款</label>
                            <input type="text" value="@record.PrePay" readonly="readonly" />
                        </div>
                        <div class="large-1 columns">
                            <label>
                                油卡</label>
                            <input type="text" value="@record.OilCard" readonly="readonly" />
                        </div>
                        <div class="large-1 columns">
                            <label>
                                应付款</label>
                            <input type="text" value="@record.AccountPayble" readonly="readonly" />
                        </div>
                        <div class="large-1 columns">
                            <label>
                                付款日</label>
                            @if (record.PayDate != null)
                            {
                                <input type="text" value="@record.PayDate.Value.ToString("MM.dd.yyyy")" readonly="readonly" />
                            }
                            else
                            { 
                                <input type="text" value="" readonly="readonly" />
                            }
                        </div>
                        <div class="large-1 columns">
                            <label>
                                到货日期</label>
                            @if (record.ReceivedDate != null)
                            {
                                <input type="text" value="@record.ReceivedDate.Value.ToString("MM.dd.yyyy")" readonly="readonly" />
                            }
                            else
                            { 
                                <input type="text" value="" readonly="readonly" />
                            }
                        </div>
                        <div class="large-2 columns">
                            <label>
                                备注</label>
                            <input type="text" value="@record.Comment" readonly="readonly" />
                        </div>
                    </div>
                    @if (record.HistoryItem != null)
                    {
                        <ul>
                            @foreach (TransportRecordsHistoryModel history in record.HistoryItem)
                            {
                                <li><small>@history.LogDateTime.ToString("yyyy-MM-dd HH:mm:ss") : [@history.Operation]
                                    @history.Description
                                    操作人：@history.User.UserID</small> </li>
                            }
                        </ul>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="pagination">
            <td colspan="13">
                @if (Model.PageIndex > 1)
                {
                    <a href="?DeliverDate=@(Model.DeliverDate.ToDateString("yyyy-MM-dd"))&ClientName=@(Model.ClientName)">
                        首页</a>
                    <a href="?page=@(Model.PageIndex - 1)&DeliverDate=@(Model.DeliverDate.ToDateString("yyyy-MM-dd"))&ClientName=@(Model.ClientName)">
                        上一页</a>
                }
                else
                {
                    <span>首页</span>
                    <span>上一页</span>
                }
                当前第 [ @Model.PageIndex ] 页，共 [ @Model.TotalPage ] 页
                @if (Model.PageIndex < Model.TotalPage)
                {
                    <a href="?page=@(Model.PageIndex + 1)&DeliverDate=@(Model.DeliverDate.ToDateString("yyyy-MM-dd"))&ClientName=@(Model.ClientName)">
                        下一页</a>
                    <a href="?page=@Model.TotalPage&DeliverDate=@(Model.DeliverDate.ToDateString("yyyy-MM-dd"))&ClientName=@(Model.ClientName)">
                        尾页</a>
                }
                else
                {
                    <span>下一页</span>
                    <span>尾页</span>
                }
            </td>
        </tr>
    </tfoot>
</table>
<script language="javascript" type="text/javascript">
    $("tr[type='RecordTR'] div[class='actionLink']").each(
        function (index) {
            $(this).click(
                function () {
                    var trid = $(this).parent().parent().attr("TRID");
                    var detailtr = $("tr[type='TRDetails'][TRID='" + trid + "']");
                    detailtr.slideToggle(0, false, null);
                }
            );
        }
    );
</script>
