@model FreightSystem.Models.ChangePasswordModel
@{
    ViewBag.Title = "修改你的密码";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="loginForm">
<h2>@ViewBag.Message</h2>
@using (Html.BeginForm()) {
    <fieldset>
        <ol>
            <li>
                <div>旧密码</div>
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                <div>新密码</div>
                @Html.PasswordFor(m => m.NewPassword) 仅能使用大小写字母和数字
            </li>
            <li>
                <div>确认密码</div>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="确认修改" />
    </fieldset>
}
</section>