@model FreightSystem.Models.ChangePasswordModel
@{
    ViewBag.Title = "请修改你的密码";
}
<section id="loginForm">
<br />
@using (Html.BeginForm())
{
<fieldset  class="large-6">
    <legend>@ViewBag.Title</legend>
    <div class="row">
    <br />
        <div class="large-7 columns large-offset-3">
            <label>旧密码</label>
            @Html.PasswordFor(m => m.OldPassword, new { @type = "password", @style = "width:80%", @placeholder = "必填" })
        </div>
        <div class="large-7 columns large-offset-3">
            <label>新密码</label>
            @Html.PasswordFor(m => m.NewPassword, new { @type = "password", @style = "width:80%", @placeholder = "仅能使用大小写字母和数字" })
        </div>
        <div class="large-7 columns large-offset-3">
            <label>确认密码</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @type = "password", @style = "width:80%", @placeholder = "请再次确认密码" })
        </div>
        <div class="large-9 large-offset-3 columns">
            <button type="submit" class="button tiny" style="margin-top:1rem">确认修改</button>
        </div>
    </div>
    <br />
    <label style="color: Red;">@ViewBag.Message</label>
</fieldset>
}
</section>
