@using FreightSystem.Models;
@model FreightSystem.Models.RoleModel
@{
    ViewBag.Title = "新建角色";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="newTransportForm">
<h2>@ViewBag.ErrorMessage</h2>
@using (Html.BeginForm()) {
    <fieldset>
    <table>
        <tr>
            <th style="width:110px;">角色名称</th>
            <td style="width:250px;">@Html.TextBoxFor(m => m.RoleName) *
                @Html.ValidationMessageFor(m => m.RoleName)</td>
        </tr>
        <tr>
            <th style="width:110px;">菜单权限</th>
            <td style="width:250px;">
                <ul>
                @foreach (MenuItemModel menu in ViewBag.AllMenu)
                {
                    <li><input type="checkbox" name="Menus" value="@menu.MenuCode" /> @menu.MenuText </li>
                }
                </ul>
            </td>
        </tr>
    </table>
    <input type="submit" value="保存" />
    </fieldset>
}
</section>