@using FreightSystem.Models;
@model FreightSystem.Models.RoleModel
@{
    ViewBag.Title = "编辑角色";
}
<section id="newTransportForm">
<br />
@using (Html.BeginForm())
{
@Html.HiddenFor(m => m.RoleID)
<fieldset class="large-5">
<legend>@ViewBag.Title</legend>
    <div class="row">
        <br />
        <div class="large-5 columns large-offset-1">
            <label>角色名称</label>
            @Html.TextBoxFor(m => m.RoleName, new { @type = "text", @style = "margin-bottom:0px", @placeholder = "必填" }) 
            <small class="error">@Html.ValidationMessageFor(m => m.RoleName)</small>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="large-10 columns large-offset-1">
            <label>菜单项</label>
                <ul class="side-nav">
                @foreach (MenuItemModel menu in ViewBag.AllMenu)
                {
                        <li class="large-6 large-offset-1 left"> 
                        @if (Model.Menus.Exists(x => x.MenuCode == menu.MenuCode))
                        { 
                            <input  type="checkbox" name="Menus" value="@menu.MenuCode" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" name="Menus" value="@menu.MenuCode"/>
                        }
                        @menu.MenuText </li>
                }
                </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="large-10 columns large-offset-1">
            <label>权限</label>
            <ul class="side-nav">
                @foreach (FuncItemModel func in ViewBag.AllFunc)
                {
                    <li class="large-6 large-offset-1 left">
                    @if (Model.AccessList.Contains(func.FuncCode))
                    {
                            <input type="checkbox" name="Funcs" value="@func.FuncCode" checked="checked"/>
                    }
                    else
                    {
                            <input type="checkbox" name="Funcs" value="@func.FuncCode"/>
                    }
                    @func.FuncText
                    </li>
                }
            </ul>    
        </div>
    </div>
    <div class="large-11 columns large-offset-0-1">
        <button type="submit" class="button tiny" style="margin-top:1rem">保存</button>
    </div>
    <br />
    <label style="color: Red;">@ViewBag.ErrorMessage</label>
</fieldset>
}
</section>
